apiVersion: v1
kind: Service
metadata:
  name: cart-service
  labels:
    app: cart-service
spec:
  selector:
    app: cart-service
  ports:
  - name: http
    port: 3002
    targetPort: 3002
  type: ClusterIP